.main {
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.overview {
  height: 200px;
  scrollbar-width: none ;
  -ms-overflow-style: none;
}
